:root {
  --spacing: 1rem;
  --border-color: #a0a0a0;
}

/* Style for definition list */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 1.42857143;
}
dt {
  font-weight: 700;
}
dd {
  margin-left: 0;
}
