body h1,
body h2 {
  margin-bottom: 0;
}

nav {
  border-bottom: 1px solid var(--border-color);
}

body main {
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  padding: var(--spacing) !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: var(--spacing);

  & article {
    margin: 0;
    padding: var(--spacing);
    & > header {
      margin: calc(var(--spacing) * -1) calc(var(--spacing) * -1) var(--spacing);
      padding: var(--spacing);
    }
  }
}
